# Way To Graduation

In the DTN cimulator, if we set N number of nodes in the network, it automatically adds source and destination nodes. Thus we have N+2 nodes in the network. 
1. N = 0 node is the source node.
2. N = 1 is the destination node.
3. Other nodes are moving nodes in the network.
4. The numbber of a node coressponds to the same raw and coloumn number in the Excel sheet.

### Data Preprocessing

In [1]:
#Data exploration 

import pandas as pd
import csv
 
#open an excel file
with open('simData_11_5.csv') as excel_data:
    csvread = csv.reader(excel_data, delimiter = ";")
    i = 0
    data = []
    
    for row in csvread:
        print(row)

['', '', '', '', '', '', '', '91,294,469', '', '', '', '157,274,583', '', '']
['', '', '', '0,91,642', '', '', '', '', '338,395', '', '160,256,301,397', '', '', '']
['', '', '', '', '', '', '204,220', '', '134,177', '501,526', '563', '321,442', '317,335', '']
['', '0,67,664', '', '', '', '', '', '', '', '525,586', '96,147', '', '197,209', '']
['', '', '', '', '', '', '', '', '', '', '392,442', '', '573,615', '']
['', '', '', '', '', '', '', '', '', '145,180', '', '', '', '']
['', '', '203,220', '', '', '', '', '', '', '', '', '100,163', '414,439', '']
['112,271,490,649', '', '', '', '', '', '', '', '', '', '', '198,263,600,660', '0,41,391,420', '']
['', '', '134,176', '', '', '', '', '', '', '0,30,190,261', '309,360', '', '543,589', '']
['', '', '500,526', '524,585', '', '145,180', '', '', '0,28,189,262', '', '486,501', '', '278,313,640', '']
['', '', '562', '96,146', '392,442', '', '', '', '309,359', '485,500', '', '', '', '']
['178,251,604', '', '320,441', '', '', '', '99,163', '197,262,600,660', '', '', '', '', '', '']
['', '', '317,334', '196,208', '573,614', '', '413,438', '0,40,390,420', '542,589', '277,312,639', '', '', '', '']

In [2]:
#Data[column][row]

data = pd.read_csv("simData_11_5.csv", delimiter = ';', header = None)

In [3]:
#Removing the 8th column since it does not store any data

data.drop(columns = len(data[0]), inplace=True)
N = len(data[0])  #Number of nodes
data

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"91,294,469",NaN,NaN,NaN,"157,274,583",NaN
1,NaN,NaN,NaN,"0,91,642",NaN,NaN,NaN,NaN,"338,395",NaN,"160,256,301,397",NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,"204,220",NaN,"134,177","501,526",563,"321,442","317,335"
3,NaN,"0,67,664",NaN,NaN,NaN,NaN,NaN,NaN,NaN,"525,586","96,147",NaN,"197,209"
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"392,442",NaN,"573,615"
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"145,180",NaN,NaN,NaN
6,NaN,NaN,"203,220",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"100,163","414,439"
7,"112,271,490,649",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"198,263,600,660","0,41,391,420"
8,NaN,NaN,"134,176",NaN,NaN,NaN,NaN,NaN,NaN,"0,30,190,261","309,360",NaN,"543,589"
9,NaN,NaN,"500,526","524,585",NaN,"145,180",NaN,NaN,"0,28,189,262",NaN,"486,501",NaN,"278,313,640"
10,NaN,NaN,562,"96,146","392,442",NaN,NaN,NaN,"309,359","485,500",NaN,NaN,NaN
11,"178,251,604",NaN,"320,441",NaN,NaN,NaN,"99,163","197,262,600,660",NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,"317,334","196,208","573,614",NaN,"413,438","0,40,390,420","542,589","277,312,639",NaN,NaN,NaN

Check if source node and destination node were found by other nodes in the network.

In [4]:
#Checking if any node met with source node
import numpy as np
import math

n = 0
for i in range(len(data[0])):
    if(type(data[i][0]) == float or type(data[i][0]) == np.float64):
        n = n + 1
        
if(n == len(data[0])):
    print('Source node was not able to send a package!')

In [5]:
#Checking if any node met with destination node
k = 0       
for j in range(len(data[0])):
    if(type(data[j][1]) == float or type(data[j][1]) == np.float64):
        k = k + 1
        

if(k == len(data[0])):
    print('The package was not delivered to the destination!')

We convert the data from dataframe to list of lists, so it's easier to use.

In [6]:
m = 0;

dataNew = [];


for i in range(N):
    for j in range(N):
        if(type(data[j][i]) == str):
                string = data[j][i].split(",")
                integerList =[eval(m) for m in string]
                dataNew.append(integerList)
        else:
            dataNew.append([])

dataNew = np.reshape(dataNew, (N, N)).T

print(dataNew)

[[list([]) list([]) list([]) list([]) list([]) list([]) list([])
  list([112, 271, 490, 649]) list([]) list([]) list([])
  list([178, 251, 604]) list([])]
 [list([]) list([]) list([]) list([0, 67, 664]) list([]) list([])
  list([]) list([]) list([]) list([]) list([]) list([]) list([])]
 [list([]) list([]) list([]) list([]) list([]) list([]) list([203, 220])
  list([]) list([134, 176]) list([500, 526]) list([562]) list([320, 441])
  list([317, 334])]
 [list([]) list([0, 91, 642]) list([]) list([]) list([]) list([])
  list([]) list([]) list([]) list([524, 585]) list([96, 146]) list([])
  list([196, 208])]
 [list([]) list([]) list([]) list([]) list([]) list([]) list([]) list([])
  list([]) list([]) list([392, 442]) list([]) list([573, 614])]
 [list([]) list([]) list([]) list([]) list([]) list([]) list([]) list([])
  list([]) list([145, 180]) list([]) list([]) list([])]
 [list([]) list([]) list([204, 220]) list([]) list([]) list([]) list([])
  list([]) list([]) list([]) list([]) list([99, 163]) list([413, 438])]
 [list([91, 294, 469]) list([]) list([]) list([]) list([]) list([])
  list([]) list([]) list([]) list([]) list([]) list([197, 262, 600, 660])
  list([0, 40, 390, 420])]
 [list([]) list([338, 395]) list([134, 177]) list([]) list([]) list([])
  list([]) list([]) list([]) list([0, 28, 189, 262]) list([309, 359])
  list([]) list([542, 589])]
 [list([]) list([]) list([501, 526]) list([525, 586]) list([])
  list([145, 180]) list([]) list([]) list([0, 30, 190, 261]) list([])
  list([485, 500]) list([]) list([277, 312, 639])]
 [list([]) list([160, 256, 301, 397]) list([563]) list([96, 147])
  list([392, 442]) list([]) list([]) list([]) list([309, 360])
  list([486, 501]) list([]) list([]) list([])]
 [list([157, 274, 583]) list([]) list([321, 442]) list([]) list([])
  list([]) list([100, 163]) list([198, 263, 600, 660]) list([]) list([])
  list([]) list([]) list([])]
 [list([]) list([]) list([317, 335]) list([197, 209]) list([573, 615])
  list([]) list([414, 439]) list([0, 41, 391, 420]) list([543, 589])
  list([278, 313, 640]) list([]) list([]) list([])]]

C:\Users\Banu_\anaconda3\lib\site-packages\numpy\core\_asarray.py:102: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return array(a, dtype, copy=False, order=order)

It can be noticed that some matrix members that should represent the same time intervals are not equal. Thus, we are going to replace it with either of them.

In [7]:
for i in range(N):
    if(i == N-1):
        break
    for j in range(i+1, N):
        if(len(dataNew[j][i]) > len(dataNew[i][j]) and len(dataNew[i][j])!=0):
            dataNew[j][i] = dataNew[i][j]
        else:
            dataNew[i][j] = dataNew[j][i]

1. We modify the the data in the excel sheet so that it can be used for shortest patha lgorithm
2. Excel sheet contains time intervals of node meetings
3. But, we will only leave starting time as there is no actual need in the finish time

In [8]:
for i in range(N):
    for j in range(N):
        if(len(dataNew[j][i]) > 0):
            a = [];
            k = 0;
            while(k < len(dataNew[j][i])):
                a.append(dataNew[j][i][k])
                k = k + 2
                
            dataNew[j][i] = a
                
dataNew

array([[list([]), list([]), list([]), list([]), list([]), list([]),
        list([]), list([91, 469]), list([]), list([]), list([]),
        list([157, 583]), list([])],
       [list([]), list([]), list([]), list([0, 642]), list([]), list([]),
        list([]), list([]), list([338]), list([]), list([160, 301]),
        list([]), list([])],
       [list([]), list([]), list([]), list([]), list([]), list([]),
        list([204]), list([]), list([134]), list([501]), list([563]),
        list([321]), list([317])],
       [list([]), list([0, 642]), list([]), list([]), list([]), list([]),
        list([]), list([]), list([]), list([525]), list([96]), list([]),
        list([197])],
       [list([]), list([]), list([]), list([]), list([]), list([]),
        list([]), list([]), list([]), list([]), list([392]), list([]),
        list([573])],
       [list([]), list([]), list([]), list([]), list([]), list([]),
        list([]), list([]), list([]), list([145]), list([]), list([]),
        list([])],
       [list([]), list([]), list([204]), list([]), list([]), list([]),
        list([]), list([]), list([]), list([]), list([]), list([100]),
        list([414])],
       [list([91, 469]), list([]), list([]), list([]), list([]),
        list([]), list([]), list([]), list([]), list([]), list([]),
        list([198, 600]), list([0, 391])],
       [list([]), list([338]), list([134]), list([]), list([]), list([]),
        list([]), list([]), list([]), list([0, 190]), list([309]),
        list([]), list([543])],
       [list([]), list([]), list([501]), list([525]), list([]),
        list([145]), list([]), list([]), list([0, 190]), list([]),
        list([486]), list([]), list([278, 640])],
       [list([]), list([160, 301]), list([563]), list([96]), list([392]),
        list([]), list([]), list([]), list([309]), list([486]), list([]),
        list([]), list([])],
       [list([157, 583]), list([]), list([321]), list([]), list([]),
        list([]), list([100]), list([198, 600]), list([]), list([]),
        list([]), list([]), list([])],
       [list([]), list([]), list([317]), list([197]), list([573]),
        list([]), list([414]), list([0, 391]), list([543]),
        list([278, 640]), list([]), list([]), list([])]], dtype=object)

In [9]:
#Calling DataFrame constructor on list for visual representation 
dataF = pd.DataFrame(dataNew)
dataF

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,[],[],[],[],[],[],[],"[91, 469]",[],[],[],"[157, 583]",[]
1,[],[],[],"[0, 642]",[],[],[],[],[338],[],"[160, 301]",[],[]
2,[],[],[],[],[],[],[204],[],[134],[501],[563],[321],[317]
3,[],"[0, 642]",[],[],[],[],[],[],[],[525],[96],[],[197]
4,[],[],[],[],[],[],[],[],[],[],[392],[],[573]
5,[],[],[],[],[],[],[],[],[],[145],[],[],[]
6,[],[],[204],[],[],[],[],[],[],[],[],[100],[414]
7,"[91, 469]",[],[],[],[],[],[],[],[],[],[],"[198, 600]","[0, 391]"
8,[],[338],[134],[],[],[],[],[],[],"[0, 190]",[309],[],[543]
9,[],[],[501],[525],[],[145],[],[],"[0, 190]",[],[486],[],"[278, 640]"
10,[],"[160, 301]",[563],[96],[392],[],[],[],[309],[486],[],[],[]
11,"[157, 583]",[],[321],[],[],[],[100],"[198, 600]",[],[],[],[],[]
12,[],[],[317],[197],[573],[],[414],"[0, 391]",[543],"[278, 640]",[],[],[]

### Brute Force Algorithm

In [10]:
class Node:
 
    def __init__(self, time, transm):
        self.transm = transm
        self.time = time
        

#We make N nodes with time when transmission happened and the node that transmitted

node = [0]*N
node[0] = Node(0, 0)  #Node 0 is the source node

for i in range(1, N):
    node[i] = Node(100000, i)

In [11]:
#We find all the time interval start values, and place them in the increasing order, and we construct dictoionary
#where keys are time values
dataDict = {}
for i in range(N):
    for j in range(i+1, N):
        for k in dataNew[j][i]:
            if(k in dataDict):
                dataDict[k].append([i, j])
            else:
                dataDict.update({k: [[i, j]]})
           
keyList = list(dataDict.keys())
keyList.sort()
print(keyList)
dataDict

[0, 91, 96, 100, 134, 145, 157, 160, 190, 197, 198, 204, 278, 301, 309, 317, 321, 338, 391, 392, 414, 469, 486, 501, 525, 543, 563, 573, 583, 600, 640, 642]

{91: [[0, 7]],
 469: [[0, 7]],
 157: [[0, 11]],
 583: [[0, 11]],
 0: [[1, 3], [7, 12], [8, 9]],
 642: [[1, 3]],
 338: [[1, 8]],
 160: [[1, 10]],
 301: [[1, 10]],
 204: [[2, 6]],
 134: [[2, 8]],
 501: [[2, 9]],
 563: [[2, 10]],
 321: [[2, 11]],
 317: [[2, 12]],
 525: [[3, 9]],
 96: [[3, 10]],
 197: [[3, 12]],
 392: [[4, 10]],
 573: [[4, 12]],
 145: [[5, 9]],
 100: [[6, 11]],
 414: [[6, 12]],
 198: [[7, 11]],
 600: [[7, 11]],
 391: [[7, 12]],
 190: [[8, 9]],
 309: [[8, 10]],
 543: [[8, 12]],
 486: [[9, 10]],
 278: [[9, 12]],
 640: [[9, 12]]}

In [12]:
#We update the nodes
tr = 0

for i in keyList:
    for j in range(len(dataDict[i])):
            if((node[dataDict[i][j][0]].time != 100000) and (node[dataDict[i][j][1]].time == 100000)):
                node[dataDict[i][j][1]] = Node(i, dataDict[i][j][0])
                tr = tr + 1
            elif((node[dataDict[i][j][1]].time != 100000) and (node[dataDict[i][j][0]].time == 100000)):
                node[dataDict[i][j][0]] = Node(i, dataDict[i][j][1])
                tr = tr + 1

for i in range(len(node)):
    print(i, end="")
    print(': ', end="")
    print(node[i].time, end="")
    print(' (', end="")
    print(node[i].transm, end="")
    print(')\n')

0: 0 (0)

1: 642 (3)

2: 321 (11)

3: 525 (9)

4: 573 (12)

5: 100000 (5)

6: 414 (12)

7: 91 (0)

8: 543 (12)

9: 501 (2)

10: 563 (2)

11: 157 (0)

12: 391 (7)

The results above show the node numbers on the left, time of transmission in the middle, and the node that has transmitted on the right.

In [13]:
#Print the shortest path and time at which transmissions happened

sPathList = []
i = 1;

while (i != 0):
    sPathList.append([i, node[i].time, node[i].transm])
    i = node[i].transm
    

sPath = pd.DataFrame(sPathList)
sPath.columns = ["Node", "Time", "Transmitter"]
print(sPath, "\n")
print("The number of shortest path transmissions: ", len(sPathList))
print("The number of overall transmissions: ", tr)

   Node  Time  Transmitter
0     1   642            3
1     3   525            9
2     9   501            2
3     2   321           11
4    11   157            0

The number of shortest path transmissions:  5
The number of overall transmissions:  11

In the table above, the first row is the destination source, and the second row contains the node that transmitted the package to the destination source. In the same manner, we have all the nodes which are included in teh shortest path.